<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Shoopit!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- css -->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
		<!-- /css -->

		<!-- javascript -->
		<script src="/assets/js/vendors/require.js" data-main="/assets/js/deps/main"></script>
		<!-- /javascript -->

	</head>
	<body>

		<div data-role="page" id="homepage" data-url="">
			<div data-role="header"></div>
			<div data-role="content"></div>
			<div data-role="footer"></div>
		</div>

		<!-- homepage -->
		<div data-role="page" id="main" data-url="list">
			<!-- header -->
			<div data-role="header" data-theme="b">
			</div>
			<!-- /header -->

			<!-- content -->
			<div id="main-container" data-role="content" data-theme="c">
			</div>
			<!-- /content -->

			<!-- footer -->
			<div data-role="footer" data-theme="b" data-position="fixed">
				<div class="ui-grid-b">
					<div class="ui-block-a">
						<div class="ui-bar ui-bar-a">
							<button type="button">Lists</button>
						</div>
					</div>
					<div class="ui-block-b">
						<div class="ui-bar ui-bar-a">
							<button type="button">Products</button>
						</div>
					</div>
					<div class="ui-block-c">
						<div class="ui-bar ui-bar-a">
							<button type="button">Archived</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /footer -->
		</div>
		<!-- /homepage -->

		<!-- add list page -->
		<div data-role="page" id="add-list" data-url="add">
			<div data-role="header">
				<a href="../index.html" data-icon="back">Previous</a>
				<h1>New list</h1>
			</div>
			<div data-role="content">
				<label for="basic">Text Input:</label>
				<input type="text" name="name" id="basic" value="" data-mini="true" />
				<label for="flip-mini">Flip switch:</label>
				<select name="flip-mini" id="flip-mini" data-role="slider" data-mini="true">
					<option value="off">Off</option>
					<option value="on">On</option>
				</select>
				<button data-theme="e">Save</button>
			</div>
			<div data-role="footer">
				<div class="ui-grid-b">
					<div class="ui-block-a">
						<div class="ui-bar ui-bar-a">
							<button type="button">Lists</button>
						</div>
					</div>
					<div class="ui-block-b">
						<div class="ui-bar ui-bar-a">
							<button type="button">Products</button>
						</div>
					</div>
					<div class="ui-block-c">
						<div class="ui-bar ui-bar-a">
							<button type="button">Archived</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /add list page -->

		<!-- templates -->
		<script type="text/template" id="shopping-list-index">
			<h2><%= title %></h2>
			<ul data-role="listview" class="ui-listview ui-listview-inset"></ul>
		</script>

		<script type="text/template" id="shoopit-list-item">
			<a href=""><%= name %></a>
		</script>

		<script type="text/template" id="shoopit-header">
			<h1>Shoopit!</h1>
			<button id="shoopit-header-add-btn" data-icon="plus" class="ui-btn-right">Add</button>
		</script>
		<!-- /templates -->


	</body>
</html>