<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Shoopit!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- css -->
		<link rel="stylesheet" href="/assets/themes/jquery.mobile.flatui.min.css" />
		<link rel="stylesheet" href="/assets/css/shoopit.css" />
		<!-- /css -->

		<!-- javascript -->
		<script src="/assets/js/vendors/require.js" data-main="/assets/js/deps/main"></script>
		<!-- /javascript -->

	</head>
	<body style="display: none">
		<div data-role="page" data-theme="c" id="page-container">
			<div data-role="header" data-theme="b" data-position="fixed" id="header-container" class="header-container">
				<a href="#" data-role="button" data-icon="gear" id="edit-btn" class="ui-btn-left">Edit</a>
				<h1>Shoopit</h1>
				<a href="#my" data-role="button" data-icon="star" id="new-btn" class="ui-btn-right" data-rel="dialog">New</a>
			</div>
			<div data-role="content" id="content-container">
				<input type="text" id="new-item" placeholder="Add a new item" name="new-item-name"/>
				<ul data-role="listview" class="ui-listview-inset" id="items-listview">
				</ul>
			</div>
			<div data-role="footer" class="ui-bar" data-position="fixed" data-theme="b" id="footer-container">
				<a href="#" data-role="button" class="filter ui-btn-active" id="filter-all">All</a>
				<a href="#" data-role="button" class="filter" id="filter-remaining">Remaining</a>
				<a href="#" data-role="button" class="filter" id="filter-bought">Bought</a>
			</div>
		</div>
		
		<div data-role="page" data-theme="c" class="page-container" id="edit-page-container">
			<div data-role="header" data-theme="b" data-position="fixed" class="header-container">
				<a href="" data-role="button" data-icon="arrow-l" id="cancel-btn" class="ui-btn-left">Cancel</a>
				<h1>Shoopit!</h1>
			</div>
			<div data-role="content" class="content-container">
				<form id="edit-item-form">
					<input type="text" name="name" value="<%= name %>" id="item-name-input" autofocus />
					<input type="submit" name="save" value="save" id="item-edit-submit" data-theme="b" />
				</form>
			</div>
		</div>

		<div data-role="page" id="dialog-container" data-overlay-theme="b">
			<div data-role="header" data-theme="b">
				<h1>Warning!</h1>
			</div>
			<div data-role="content" id="dialog-content-container">
				<p>Do you want to create a new list?</p>
				<a href="#" data-role="button" data-theme="d" id="dialog-new-btn">Yes</a>
				<a href="#" data-role="button" data-theme="c" id="dialog-back-btn">No</a>
			</div>
		</div>

		<!-- TEMPLATES -->
		<script type="text/template" id="shoopit-item-tpl">
			<div class="ui-grid-b item-container item-<%= id %>-container">
				<div class="ui-block-a" style="float: left; width: 60px;">
					<div class="checkbox-container">
						<input type="checkbox" name="item-<%= id %>" id="item-<%= id %>" data-id="<%= id %>" <%= isBought ? "checked" : "" %> class="completed-checkbox" />
						<label for="item-<%= id %>" data-corners="false" data-border="false"></label>
					</div>
				</div>
				<div class="ui-block-b" style="padding-top: 8px; float: left; width: 60%">
					<%= name %>
				</div>
				<div class="ui-block-c" style="float: right; width: 35px;">
				</div>
			</div>
		</script>

		<script type="text/template" id="shoopit-item-edit-tpl">
			<div class="ui-grid-b item-container item-<%= id %>-container" style="min-height: 37.1875px;">
				<div class="ui-block-a" style="width: 15%;">
					<a class="remove-icon" href="#" data-id="<%= id %>" data-inline="true">
						<img src="/assets/img/delete-icon.png" alt="remove item" />
					</a>
				</div>
				<div class="ui-block-b" style="width: 55%;">
					<%= name %>
				</div>
				<div class="ui-block-c" style="text-align: right; width: 25%;">
					<a href="/#/edit/<%= id %>" data-inline="true" data-id="<%= id %>" data-role="button" class="edit-item-btn" data-theme="b" data-mini="true">Edit</a>
					<a href="#" data-role="button" class="remove-btn" data-inline="true" data-id="<%= id %>" data-mini="true" data-theme="d" style="display: none;">Remove</a>
				</div>
			</div>
		</script>
		
		<script type="text/template" id="shoopit-header-edit-tpl">
			<a href="#" data-role="button" data-icon="arrow-l" id="cancel-btn" class="ui-btn-left">Back</a>
			<h1 class="ui-title">Shoopit</h1>
		</script>

		<script type="text/template" id="shoopit-header-tpl">
			<a href="#" data-role="button" data-icon="gear" id="edit-btn" class="ui-btn-left">Edit</a>
			<h1 class="ui-title">Shoopit</h1>
			<a href="#" data-role="button" data-icon="star" id="new-btn" class="ui-btn-right">New</a>
		</script>
		<!-- /TEMPLATES -->
	
	</body>
</html>