<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Shoopit!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- css -->
		<link rel="stylesheet" href="/assets/themes/jquery.mobile.flatui.min.css" />
		<style>
		.remove-btn {
			float: right;
			background-image: linear-gradient(#ec797e, #aa0910);
			color: #fff;

		},
		.ui-li {
			min-height: 37px !important;
		}
		</style>
		<!-- /css -->

		<!-- javascript -->
		<script src="/assets/js/vendors/require.js" data-main="/assets/js/deps/main"></script>
		<!-- /javascript -->

	</head>
	<body>
		<div data-role="page" data-theme="c" id="page-container">
			<div data-role="header" data-theme="b" data-position="fixed" id="header-container">
				<a href="#" data-role="button" data-icon="gear" id="edit-btn" class="ui-btn-left">Edit</a>
				<h1>Shoopit</h1>
				<a href="#my" data-role="button" data-icon="star" id="new-btn" class="ui-btn-right" data-rel="dialog" data-transition="flip">New</a>
			</div>
			<div data-role="content" id="content-container">
				<input type="text" id="new-item" placeholder="Add a new item" name="new-item-name"/>
				<ul data-role="listview" class="ui-listview-inset">
				</ul>
			</div>
			<div data-role="footer" class="ui-bar" data-position="fixed" data-theme="b" id="footer-container">
				<a href="#" data-role="button" class="filter ui-btn-active" id="filter-all">All</a>
				<a href="#" data-role="button" class="filter" id="filter-remaining">Remaining</a>
				<a href="#" data-role="button" class="filter" id="filter-bought">Bought</a>
			</div>
		</div>
		
		<div data-role="page" data-theme="c" class="page-container" id="edit-page-container">
			<div data-role="header" data-theme="b" data-position="fixed" class="header-container">
				<a href="" data-role="button" data-icon="" id="cancel-btn" class="ui-btn-left">Back</a>
				<h1>Shoopit!</h1>
				<a href="" data-role="button" data-icon="" id="save-btn" class="ui-btn-right;">Save</a>
			</div>
			<div data-role="content" class="content-container">
				<form id="edit-item-form">
					<input type="text" name="name" value="<%= name %>" id="item-name-input" />
					<input type="submit" name="save" value="save" id="item-edit-submit"/>
				</form>
			</div>
		</div>

		<div data-role="dialog" id="dialog-container" data-theme="c">
			<div data-role="content" id="dialog-content-container" data-theme="b">
				Do you want to create a new list?
				<a href="#" data-role="button" data-theme="a" id="dialog-back-btn">No</a>
				<a href="#" data-role="button" data-theme="d" id="dialog-new-btn">Yes</a>
			</div>
		</div>

		<!-- TEMPLATES -->
		<script type="text/template" id="shoopit-item-tpl">
			<div class="ui-grid-b item-container item-<%= id %>-container">
				<div class="ui-block-a" style="float: left; width: 60px;">
					<div class="checkbox-container">
						<input type="checkbox" name="item-<%= id %>" id="item-<%= id %>" data-id="<%= id %>" <%= isBought ? "checked" : "" %> class="completed-checkbox" />
						<label for="item-<%= id %>" data-corners="false" data-border="false"></label>
					</div>
				</div>
				<div class="ui-block-b" style="padding-top: 8px; float: left; width: 60%">
					<%= name %>
				</div>
				<div class="ui-block-c" style="float: right; width: 35px;">
				</div>
			</div>
		</script>

		<script type="text/template" id="shoopit-item-edit-tpl">
			<div class="ui-grid-b item-container item-<%= id %>-container" style="min-height: 37.1875px;">
				<div class="ui-block-a" style="float: left; width: 60px; min-height: 37.1875px;">
					<a class="remove-icon" href="#" data-id="<%= id %>" stylce="position: relative; top: 7px; left: 12px;">
						<img src="/assets/img/delete-icon.png" alt="remove item" />
					</a>
				</div>
				<div class="ui-block-b" style="float: left; width: 60%; padding-top: 8px;">
					<%= name %>
				</div>
				<div class="ui-block-c" style="float: right; width: 30px; padding-top: 3px;">
					<a href="/#/edit/<%= id %>" class="edit-item-link" data-id="<%= id %>" data-role="button" data-icon="arrow-r" data-iconpos="notext" class="edit-item-btn" />
					<a href="#" data-role="button" class="remove-btn" data-inline="true" data-id="<%= id %>" style="display: none; margin-bottom; 8px; margin-top: 8px;" data-mini="true">Remove</a>
				</div>
			</div>
		</script>
		
		<script type="text/template" id="shoopit-header-edit-tpl">
			<a href="#" data-role="button" data-icon="gear" id="cancel-btn" class="ui-btn-left">Cancel</a>
			<h1 class="ui-title">Shoopit</h1>
			<a href="#" data-role="button" data-icon="star" id="save-btn" class="ui-btn-right">Save</a>
		</script>

		<script type="text/template" id="shoopit-header-tpl">
			<a href="#" data-role="button" data-icon="gear" id="edit-btn" class="ui-btn-left">Edit</a>
			<h1 class="ui-title">Shoopit</h1>
			<a href="#" data-role="button" data-icon="star" id="new-btn" class="ui-btn-right">New</a>
		</script>
		<!-- /TEMPLATES -->
	
	</body>
</html>